<!DOCTYPE html>
<html ng-app="RetirementProject">

<head>
    <meta charset="UTF-8">
    <title>Retire on a dime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/gallery.css" />
    <link rel="stylesheet" href="assets/css/swipebox.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />

    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,600,700,800,400' rel='stylesheet' type='text/css'>


</head>
<body ng-controller="MainController as vm">
    <div ng-include="'app/views/_partials/_navbar.html'"></div>
    <div class="">
        <!--banner-->
        <div class="banner">
            <h1>Retirement Destination</h1>
            <h2>See where you can get the most for your dollar!</h2>
        </div>
        <!--//banner-->
    </div>
    <!--about-->
    <div class="about" id="about">
        <div class="container">
            <h6>About Us</h6>
            <div class="about-grids">
                <div class="col-md-6 about-info">
                    <img src="assets/images/g5.jpg" class="b-link-stripe b-animate-go swipebox img-responsive" alt="" />
                </div>
                <div class="col-md-6 about-info">
                    <h3>Real Estate Info</h3>
                    <p>A wonderful designs has takenpossession of lorem Ipsum is simply dummy text of the printing and typesetting industry In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                    <p class="ab-text">A wonderful designs has takenpossession of lorem Ipsum It has survived not only five centuries, but also the leap into electronic typesetting, is simply dummy text of the printing and typesetting industry  It was popularised in the 1960s with the release </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--/abouot-->
    <!--services-->
    <div class="services" id="services">
        <!-- container -->
        <div class="container">
            <h6>Our Services</h6>
            <div class="serve-grids">
                <div class="serve-grids-top">
                    <div class="col-md-4">
                        <p class="locations"> Starting Location</p>
                        <table class="table table-curved">
                            <thead>
                                <tr>
                                    <th id="locationTitles" colspan="2" bgcolor="#F9A646">
                                        <select class="destination-select" placeholder="Current Location" ng-model="vm.startingCity" ng-options="location.city for location in vm.cities"></select>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Location</td>
                                    <td>{{vm.start.name}}</td>
                                </tr>
                                <tr>
                                    <td>Consumer Price Index</td>
                                    <td>{{vm.start.cpi_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Consumer Prices Including Rent</td>
                                    <td>{{vm.start.cpi_and_rent_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Rent Prices</td>
                                    <td>{{vm.start.rent_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Restaurant Prices</td>
                                    <td>{{vm.start.restaurant_price_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Grocery Prices</td>
                                    <td>{{vm.start.groceries_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Local Purchasing Power</td>
                                    <td>{{vm.start.purchasing_power_incl_rent_index | number: 2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <p class="locations">Destination</p>
                        <table class="table table-curved">
                            <thead>
                                <tr>
                                    <th id="locationTitles" colspan="2">
                                        <select class="destination-select" placeholder="Current Location" ng-model="vm.destinationCity" ng-options="location.city for location in vm.cities"></select>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Location</td>
                                    <td>{{vm.destination.name}}</td>
                                </tr>
                                <tr>
                                    <td>Consumer Price Index</td>
                                    <td>{{vm.destination.cpi_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Consumer Prices Including Rent</td>
                                    <td>{{vm.destination.cpi_and_rent_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Rent Prices</td>
                                    <td>{{vm.destination.rent_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Restaurant Prices</td>
                                    <td>{{vm.destination.restaurant_price_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Grocery Prices</td>
                                    <td>{{vm.destination.groceries_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Local Purchasing Power</td>
                                    <td>{{vm.destination.purchasing_power_incl_rent_index | number: 2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        {{vm.destinationCity.res.data}}
                        <table class="table table-curved">
                            <thead>
                                <tr>
                                    <th id="locationTitles" colspan="2">
                                        <font size="4">Comparison<br />&nbsp;</font>
                                        <button class="btn btn-primary" ng-click="vm.compare()">Get Comparison</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Consumer Price Index Diffence</td>
                                    <td>{{vm.destination.cpi_index - vm.start.cpi_index > 0 ? '&uarr;' : '&darr;'}} {{vm.destination.cpi_index - vm.start.cpi_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Consumer Prices Including Rent</td>
                                    <td>{{vm.destination.cpi_and_rent_index - vm.start.cpi_and_rent_index > 0 ? '&uarr;' : '&darr;'}} {{vm.destination.cpi_and_rent_index - vm.start.cpi_and_rent_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Rent Prices</td>
                                    <td>{{vm.destination.rent_index - vm.start.rent_index > 0 ? '&uarr;' : '&darr;'}} {{vm.destination.rent_index - vm.start.rent_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Restraunt Prices</td>
                                    <td>{{vm.destination.restaurant_price_index - vm.start.restaurant_price_index > 0 ? '&uarr;' : '&darr;'}} {{vm.destination.restaurant_price_index - vm.start.restaurant_price_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Grocery Prices</td>
                                    <td>{{vm.destination.groceries_index - vm.start.groceries_index > 0 ? '&uarr;' : '&darr;'}} {{vm.destination.groceries_index - vm.start.groceries_index | number: 2}}</td>
                                </tr>
                                <tr>
                                    <td>Local Purchasing Power</td>
                                    <td>{{vm.destination.purchasing_power_incl_rent_index - vm.start.purchasing_power_incl_rent_index > 0 ? '&uarr;' : '&darr;'}} {{vm.destination.purchasing_power_incl_rent_index - vm.start.purchasing_power_incl_rent_index | number: 2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //container -->
        </div>
    </div>
    <!--/services-->
    <!--contact-->
    <div class="contact" id="contact">
        <div class="container">
            <h6>Contact</h6>
            <div class="contact-grids">
                <div class="col-md-7 contact-left">
                    <form>
                        <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                        <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
                        <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="col-md-5 contact-right">
                    <p class="cnt-p">If you would that one of our consultants help you to find the perfect please please contact us</p>
                    <p>Dream Place inc</p>
                    <p>2222 St Dolor,Boise, Idaho</p>
                    <p>Telephone : +1 208 598 0563</p>
                    <p>FAX : +1 000 0000 0000</p>
                    <p>Email : <a href="mailto:mdelatoba@gmail.com">dreamplace@example.com</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--contact-->
    <div class="footer">
        <div class="container">
            <p>Copyright © 2015 Immovable. All rights reserved </p>
        </div>
        <div class="col-md-6">
            <img id="footerImages" src="/assets/img/Kip-BB.jpg" border="1" height="100" alt="Kip Schossow" class="img-circle"><br />
            Kip Schossow
        </div>
        <div class="col-md-6">
            <img id="footerImages" src="/assets/img/Miguel.jpg" border="1" height="100" alt="Miguel de la Toba" class="img-circle"><br />
            Miguel de la Toba
        </div>
    </div>
    <!--//contact-->

    <script src="assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/easing.js" type="text/javascript"></script>
    <script src="assets/js/jquery.swipebox.min.js" type="text/javascript"></script>
    <script src="assets/js/move-top.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.min.js" type="text/javascript"></script>

    <script src="/app/app.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("body").on('click', '.scroll', function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
            $(".swipebox").swipebox();
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>
